version: "3.9" 
services: 
    ca: 
        image: ca-image:latest
        container_name: ca
        build: 
            context: ./ca 
        networks: 
            - securedrop-net
        ports: 
            - "4444:4444" # CA reachable from host 
        volumes: 
            - ./ca/tls:/tls_public
            - ./ca/gnupg:/gnupg_home
            - ./ca/data:/app/db
        restart: unless-stopped 
    
    # Template image for client containers
    # Requires --build flag with docker-compose
    client_template: 
        build: 
            context: ./client 
        image: client_template:latest 
        networks:
            - securedrop-net

networks: 
    pgpnet: 
        name: securedrop-net
        driver: bridge
        attachable: true

